
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm())
{

    @Html.ValidationSummary(true,"");
    <div>
        <label>select Branch</label>
        @Html.DropDownList("ddlbranchid", Session["rsdata"] as SelectList)

    </div>
    <div>
        <label>select Class id</label>
        @Html.DropDownList("ddlclassid", new List<SelectListItem> {
        new SelectListItem { Text = "1", Value = "1" },
        new SelectListItem { Text = "2", Value = "2" },
        new SelectListItem { Text = "3", Value = "3" },
        new SelectListItem { Text = "4", Value = "4" },
        new SelectListItem { Text = "5", Value = "5" },
        new SelectListItem { Text = "6", Value = "6" },
        new SelectListItem { Text = "7", Value = "7" },
        new SelectListItem { Text = "8", Value = "8" },
        new SelectListItem { Text = "9", Value = "9" },
        new SelectListItem { Text = "10", Value = "10" }
    })
    </div>
    <div>
        <label>
            Enter Candidate Name
        </label>
        @Html.TextBox("txtname" )
        
    </div>
    <div>
        <label>Enter Age</label>
        @Html.TextBox("txtage")
    </div>
    <div>
        <label>Enter Date of birth(dd-mm-yyyy)</label>
        @Html.TextBox("txtdob")
    </div>
    <div>
        <label>Enter Address</label>
        @Html.TextArea("txtaddress")
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
}

